/* CSS boilerplate */
/* setting defauls */
/* (*) working on all  */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* this part show raw page(setting layout) */


html,
body{
    width: 100%;
    height: 100%;
}

/* main code starts from below  */
/* main is 1ST div (parent) */

#main {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/* 2nd div */
/* editing nav content */

#nav a { 
        padding-left: 10px;
        text-decoration: none;
        font-size: 20px;
        /* font-weight: 100; */
        color: black;
}

#nav {
    padding: 30px 70px ;
}

#main>h1{
        font-size: 300px;
        font-weight: 500;
        padding-left: 70px;
}

#btmleft { 
        width: 175px;
        position: absolute;
        bottom: 10%;
        left: 5%;
}

#btmleft h4{
        font-size: 15px;
        margin-top: 40px;
}

#btmleft h3 { 
    font-size: 20px;
}

#btmbar {
    width: 100%;
    /* margin-top: 70px; */
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 70px;
}

#btmbar a{
    color: black;
    text-decoration: none;
}

#main>img{
    position: absolute;

}

#im1{
    border-radius: 20%;
    height: 400px;
    left: 35%;
    top: 40%;
}

#im2{
    border-radius: 20%;
    height: 350px;
    left: 49%;
    top: 50%;
}

#im3{
    border-radius: 20%;
    height: 350px;
    left: 65%;
    top: 32%;
}